header {
  background: url("images/green_dust_scratch.png"); }
  header .right {
    float: right; }

body {
  font-family: Helvetica; }

.container {
  max-width: 960px; }

footer {
  background-color: #aaffff; }

h1 {
  font-size: 1em; }

h2 {
  font-size: 1em; }

h3 {
  font-size: 1em; }

p {
  font-size: 1em; }

.title input {
  display: block;
  width: 400px; }

.content input {
  height: 200px;
  display: block;
  width: 400px; }

.submit input {
  width: 100px;
  margin: 25px 0 0 0; }
