body {
  font-family: Helvetica;
  background: url("images/bedge_grunge.png");
  margin: 0;
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto; }

.all_content {
  display: block;
  min-height: 650px; }

header {
  background-color: black;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #303030 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303030), color-stop(100%, black));
  background-image: -webkit-linear-gradient(top, #303030 0%, black 100%);
  background-image: -o-linear-gradient(top, #303030 0%, black 100%);
  background-image: -ms-linear-gradient(top, #303030 0%, black 100%);
  background-image: linear-gradient(top, #303030 0%, black 100%);
  height: 32px;
  margin: 0;
  padding: 18px 0 0 0; }
  header .left {
    display: block;
    float: left; }
  header .right {
    display: block;
    float: right; }
  header a {
    text-decoration: none;
    color: white; }
    header a:hover {
      text-decoration: underline; }

footer {
  background-color: black;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #303030 0%, black 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303030), color-stop(100%, black));
  background-image: -webkit-linear-gradient(top, #303030 0%, black 100%);
  background-image: -o-linear-gradient(top, #303030 0%, black 100%);
  background-image: -ms-linear-gradient(top, #303030 0%, black 100%);
  background-image: linear-gradient(top, #303030 0%, black 100%);
  height: 50px; }

.post {
  background-color: ghostwhite;
  margin: 0 0 30px 0;
  padding: 5px;
  border-radius: 7px; }
  .post .title h2 {
    margin: 0; }
  .post .date {
    font-style: italic;
    font-size: 0.8em; }
    .post .date p {
      margin: 7px 0 0 0; }
  .post .content {
    padding: 0 20px 0 20px;
    font-size: 1.1em; }

.admin input.button {
  background-color: #5aba5a;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6eef6e), color-stop(100%, #5aba5a));
  background-image: -webkit-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: -o-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: -ms-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  border-radius: 5px;
  padding: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #429f42;
  cursor: pointer;
  padding: 10px 25px;
  color: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .admin input.button:hover {
    background-position: 0 -15px; }
  .admin input.button:active {
    -webkit-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3); }
.admin .top {
  display: block;
  overflow: auto;
  margin: 10px 0 10px 0; }
  .admin .top h2 {
    float: left; }
  .admin .top .new {
    float: right; }
    .admin .top .new input.button {
      margin: 15px 7px 0 0;
      font-size: 18px; }
.admin .list_all table {
  margin-bottom: 30px; }
  .admin .list_all table tr {
    background-color: ghostwhite; }
.admin .list_all input.button {
  font-size: 0.7em; }

.new_edit_post h1 {
  border-bottom: 2px solid #3d352a; }
.new_edit_post label {
  font-size: 1.2em;
  margin-bottom: 5px;
  display: block; }
.new_edit_post .title input, .new_edit_post .content textarea {
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  display: block;
  padding: 10px;
  border: 1px solid #cccccc;
  width: 928px;
  margin-left: 4px;
  color: #444444; }
.new_edit_post .title {
  margin-bottom: 20px; }
  .new_edit_post .title input {
    font-size: 1.3em; }
.new_edit_post .content textarea {
  font-size: 1em;
  height: 380px; }
.new_edit_post .submit input.button, .new_edit_post .back input.button {
  background-color: #5aba5a;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6eef6e), color-stop(100%, #5aba5a));
  background-image: -webkit-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: -o-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: -ms-linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  background-image: linear-gradient(top, #6eef6e 0%, #5aba5a 100%);
  border-radius: 5px;
  padding: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #429f42;
  cursor: pointer;
  padding: 10px 25px;
  color: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  float: right;
  font-size: 1.3em;
  margin: 30px 0 30px 0; }
  .new_edit_post .submit input.button:hover, .new_edit_post .back input.button:hover {
    background-position: 0 -15px; }
  .new_edit_post .submit input.button:active, .new_edit_post .back input.button:active {
    -webkit-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3); }
.new_edit_post .back {
  float: left; }
  .new_edit_post .back input.button {
    background-color: #9e2727;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #d63c3c 0%, #9e2727 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d63c3c), color-stop(100%, #9e2727));
    background-image: -webkit-linear-gradient(top, #d63c3c 0%, #9e2727 100%);
    background-image: -o-linear-gradient(top, #d63c3c 0%, #9e2727 100%);
    background-image: -ms-linear-gradient(top, #d63c3c 0%, #9e2727 100%);
    background-image: linear-gradient(top, #d63c3c 0%, #9e2727 100%);
    border: 1px solid #751d1d; }

.pagination {
  cursor: default;
  height: 22px;
  font-size: 1.1em;
  margin-bottom: 35px;
  text-align: center; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.1em 0.7em;
    display: inline-block;
    margin-right: 3px;
    background: #b0dfc1; }
  .pagination a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 6px; }
    .pagination a:hover, .pagination a:focus {
      color: white;
      background-color: #2b6842; }
  .pagination .disabled {
    display: none; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #3d352a;
    color: white;
    border-radius: 6px;
    border: 1px solid black; }
